* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: black;
    text-align: center;
    padding: 5px;
}
img {
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 100pxs;
}
.padre {
    background-color: lightyellow;
    display: flex;
    justify-content: center;
}
.hijo {
    width: 150px;
    height: 150px;
    background-color: lightsteelblue;
    border: 1px solid black;
}